<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weatherm">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--인터넷 허용 권한-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--GPS 위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".Mypage" />
        <activity android:name=".NewId" />
        <activity android:name=".FindPw" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ALL_APPS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".IntroActivity">
        </activity>
        <activity
            android:name=".BluetoothConnect"
            android:exported="true" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />



    </application>

</manifest>